body { font-family:宋体; font-size:14px; margin:0; text-align:center;}
#container {margin:0 auto; width:900px;}
#header {
	height:168px;
	margin-bottom:5px;
	background-color: #6cf;
	background-image: url(images/header-back.png);
	position:relative;
}
#mainContent { height:500px; margin-bottom:5px;}
#header .inner {
	margin: 0px;
	clear: both;
	overflow: hidden;
	height: 35px;
	width: 100%;
}
#header .menu1 {
	clear: both;
	margin-top: 5px;
	margin-left: 10px;
}
#header .menu1 li {
	font-size: 12px;
	color: #FFFFFF;
	background-image: url(images/li.gif);
	background-repeat: no-repeat;
	background-position: 100% 1px;
	float: left;
	margin-top: 0px;
	margin-right: 8px;
	padding-right: 4px;
}
#header .menu1 li a {
	color: #FFFFFF;
	text-decoration: none;
}
#header .menu1 .end {
	background-image: none;
}





#sidebar { float:left; width:200px; height:500px; background:#9ff;}
#content { float:right; width:695px; height:500px; background:#cff;}/*因为是固定宽度，采用左右浮动方法可有效避免ie 3像素bug*/
#footer { background:url(image/foot-bakd.png)repeat-x;color:#444c41; text-align:center; width:900px; clear:both;}

.tp {
    float: left;
	height: 80px;
	margin-bottom:5px;
	margin-right:50px;
	margin-top:10px;
}
.nav {
clear:both;
height:36px;
width:100%;
}



.nav .menu2 li {
	background-image:url(images/headermenu-sep2.png);
	display:inline;
	background-repeat:no-repeat;
	background-position:100% 1px;
	margin-top:3px;
	float:left;
	font-size:14px;
	font-weight:700;
}
.nav .menu2 {
margin-top:7px;
margin-left:20px;
}
.nav .menu2 li a {
	color: #444e41;
	display:block;
	text-decoration:none;
	padding:0 10px;
}
.nav .menu2 li a:hover {
background:#666;
color:#fff;
}
#header .pic {
position:absolute;
right:0;
bottom:0;
z-index:8;
}
#sidebar {
	font-family: "宋体";
	font-size: 12px;
	display:inline;
	background-image:url(images/separate.gif);
	text-align: left;
	float: left;
	height: 500px;
	width: 181px;
	display:inline-block;
	overflow:hidden;
	background-repeat: repeat-y;
}
#sidebar ul {
margin:10px 10px 10px 0px;
padding:0px;
}
#sidebar .category li {
	background-image: url(images/leftmenu-li.png);
	background-repeat: no-repeat;
	line-height: 26px;
	width: 160px;
	margin-left:0px;
	margin-bottom:3px;
}
#sidebar .category li a {
padding-left:25px;
color:#fff;
}
#sidebar .category li ul{padding:8px 0px 0px 0px; margin:0px;}
#sidebar .category li li{background:none; line-height:19px;}
#sidebar .category li li a{background:url(images/leftsubmenu.png) no-repeat 8px 3px; color:#444E41;}
#sidebar .category li li a:hover, #sidebar .category li li a.current{
	color:#00788d;
	background-image: url(images/leftsubmenu_cur.gif);
	background-repeat: no-repeat;
	background-position: 8px 3px;	
}
#sidebar .contact {
	color: #0099FF;
	background-image: url(images/leftcolumn.png);
	background-repeat: no-repeat;
}
#sidebar .friendlink {
	color: #0099FF;
	background-image: url(images/leftcolumn.png);
	background-repeat: no-repeat;

}
#sidebar .contact h2, .friendlink h2 {
	background-image: url(images/leftcolumn.png);
	background-repeat: no-repeat;
	height: 26px;
	width: 160px;
	padding-top:7px;
	padding-left:25px;
	color:#055096;
	font-size:12px;
	font-family:"宋体";
	font-weight:100;
}
#sidebar.contact p {
	font-size: 12px;
	color: #0078BD;
	font-family:Tahoma;
}
#content {
	float: right;
	height: 700px;
	width: 695px;
}
#content .banner {
	height: 250px;
	width: 700px;
	margin-bottom:10px;
	overflow:hidden;
}
#content .aboutUs {
	float: left;
	width: 430px;
}
#content .aboutUs h2 {
	background-image: url(images/half-blue1.png);
	background-repeat: no-repeat;
	height: 26px;
	width: 422px;
	line-height:26px;
	padding-left:8px;
	margin-bottom:10px;
	color:#fff;
	font-size:12px;
	font-weight:100;
	text-align: left;
	margin-top: 0px;
}
#content .aboutUs p {
	font-size: 12px;
	color: #444E41;
	line-height:21px;
	margin-bottom:10px;
	padding:0 5px;
}
#content .right {
	float: right;
}
#content .news {
	text-align: right;
	float: left;
	width: 265px;
	padding:0 0 10px;
}
#content .news ul {
	text-align:left;
	margin-left:5px;
	list-style-type: none;  
}
#content .news .yanse {
	color: #0078BD;
	float: right;
	text-decoration:underline;
}
#content .news h2 {
	font-size: 12px;
	font-weight: 100;
	background-image: url(images/half-green.png);
	background-repeat: no-repeat;
	text-align: left;
	padding-left: 8px;
	line-height:26px;
	color:#fff;
	overflow:hidden;
	margin: 0px;
}
#content .fl_pic{
	text-align: center;
	width: 100%;
	margin-top:10px;
	margin-left:0px;
	float:left;
}
#content .fl_pic li{
display:inline;
}
#content .news .Actions {
padding:10px 0 0;
}
#content .news .Actions li{
	line-height:16px;
	padding:5px 0 5px 20px;
	background-image: url(images/3bullet-blue.png);
	background-repeat: no-repeat;
}
#content .news .Actions li a{
color:#0078bd;
text-decoration:underline;
}
#footer{
	color: #444e41;
	background-image: url(images/foot-back.png);
	background-repeat: repeat-x;
	text-align: center;
	clear: both;
	width: 900px;
}



#content .left {
text-align:left;
}
